<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufsm.inf.gkarkow.termostt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Termostt.db" />
        <meta-data
            android:name="AA_MODELS"
            android:value="br.ufsm.inf.gkarkow.model.AirConditioner, br.ufsm.inf.gkarkow.model.Broker, br.ufsm.inf.gkarkow.model.Command, br.ufsm.inf.gkarkow.model.Room, br.ufsm.inf.gkarkow.model.Root, br.ufsm.inf.gkarkow.model.Sensor" />

        <service
            android:name="br.ufsm.inf.gkarkow.mqtt.service.MqttService"
            android:process=":MqttSubProcess"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufsm.inf.gkarkow.termostt.MainActivity" />
        </activity>
        <activity
            android:name=".RoomConfigActivity"
            android:label="@string/title_activity_room_config"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufsm.inf.gkarkow.termostt.MainActivity" />
        </activity>
        <activity
            android:name=".AirConfigActivity"
            android:label="@string/title_activity_air_config"
            android:parentActivityName=".RoomConfigActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufsm.inf.gkarkow.termostt.RoomConfigActivity" />
        </activity>
        <activity
            android:name=".AirCommandsActivity"
            android:label="@string/title_activity_air_commands"
            android:parentActivityName=".AirConfigActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufsm.inf.gkarkow.termostt.AirConfigActivity" />
        </activity>
        <activity
            android:name=".SensorsActivity"
            android:label="@string/title_activity_sensors"
            android:parentActivityName=".RoomConfigActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufsm.inf.gkarkow.termostt.RoomConfigActivity" />
        </activity>
        <activity
            android:name=".SensorConfigActivity"
            android:label="@string/title_activity_sensor_config"
            android:parentActivityName=".SensorsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufsm.inf.gkarkow.termostt.SensorsActivity" />
        </activity>
        <activity
            android:name=".MonitorConfigActivity"
            android:label="@string/title_activity_monitor_config"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufsm.inf.gkarkow.termostt.MainActivity" />
        </activity>
        <activity
            android:name=".MonitorActivity"
            android:label="@string/title_activity_monitor"/>
        <activity
            android:name=".CommandConfigActivity"
            android:parentActivityName=".AirCommandsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufsm.inf.gkarkow.termostt.AirCommandsActivity" />
        </activity>
    </application>

</manifest>
